#dice-container {
  margin: auto;
  width: 100%;
  display:flex;
  justify-content: center;

}

.dice {
  padding: 4px;  
  background-color: tomato;  
  width: 104px;  
  height: 104px;  
  border-radius: 10%;
  margin: 15px;
}

.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:white;
}

.face-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-2 {
  display: flex;
   
  justify-content : space-between;
}

.face-2 .dot:nth-of-type(2) {
  align-self: flex-end;
}


.second-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.face-3 {
  display: flex;
  justify-content: space-between;

  .dot:nth-of-type(2) {
    align-self: center;
  }

  .dot:nth-of-type(3) {
    align-self: flex-end;
  }
}

.face-4 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  justify-items: center;
  align-items: center;
}
.face-6 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;

  justify-items: center;
  align-items: center;
}

.face-5 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;

  justify-items: center;
  align-items: center;

  .dot:nth-of-type(5) {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}