.played-block {
  button {
    background-color: #013229;
    color: white;
  }
}

.default {
  button{
    color: white;
    background-color: burlywood;
  }
}

div {
  button:disabled {
    background-color: grey;
  }

  button:focus {
    outline: orange;
  }
}

.block {
  margin: 20px;
}

#block-display {
  margin: auto;
  display:  flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  button {
    border: none;
    cursor: pointer;
    width: 50px;
    height: 100px;
    transition: ease-in-out .2s;

    border-radius: 15px;
  }

  button:hover {
    transform: scale(1.2)
  }

}

@media only screen and (max-width: 600px) {
  #block-display {
    border: 1px solid black;
    border-radius: 5px;
  }
}